<%= form_with model: [:admin, @badge_find], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge_find %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :badge_find_name%>
  </p>
  <p>
    <%= form.label :url_badge %><br>
    <%= form.text_field :url_badge, id: :badge_find_url_badge%>
  </p>
  <p>
    <%= form.label :rule_id %><br>
    <%= form.collection_select :rule_id, Rule.all, :id, :name, prompt: true %>
  </p>

  <br>

  <p><%= form.submit %></p>

  <% end %>
