
<h1>Question</h1>
<%= @answer.question.body %>



<h2>Ответ на вопрос: </h2>

<table>
  <tr>
    <th>Ответ</th>
    <th>Правильный</th>
    <th colspan="3">Функции</th>
  </tr>

  <tr>
    <td class="title"><%= @answer.text %></td>
    <td class="title"><%= @answer.correct %></td>
    <td class="functions"><%= link_to 'Редактировать', edit_answer_path(@answer) %></td>
    <td class="functions"><%= link_to 'Удалить', @answer, method: :delete, data: {confirm: 'Удалить ответ?'}%></td>
  </tr>
</table>

<br>

<%= link_to 'Back', question_path(@answer.question) %>
