<div class="container px-2">
  <h1><%= t('.header') %></h1>

  <p>
    <%= link_to t('admin.tests.index.new test'), new_admin_test_path %>
  <table class="table">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('admin.tests.index.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('admin.tests.index.level') %></th>
      <th><%= t('.count questions') %></th>
      <th colspain="3"><%= t('.actions') %></th>
    </tr>

    <%= render @tests %>
  </table>
</div>
