<p>
 <strong><th><%= t('.title') %></th></strong>
  <%= @test.title %>
</p>

<p>
  <strong><th><%= t('.level') %></th></strong>
  <%= @test.level %>
</p>

<table>
  <thead>
  <tr>
    <th><%= t('.question') %></th>
    <th><%= t('.Test ID') %></th>
    <th colspan="3"><%= t('.functions') %></th>
  </tr>
  </thead>

  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<br>
<%= link_to  t('.New question'), new_admin_test_question_path(@test) %>
<br>
<%= link_to t('.Edit'), edit_admin_test_path(@test) %>
<%= link_to t('.Back'), admin_tests_path %>
